
body{
margin: 0;
padding: 0;
font-family: sans-serif;
background: #08172c;
}

.box{
width: 300px;
padding: 40px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: #0f0316;
text-align: center;
}

.box h1{
color: white;
text-transform: uppercase;
font-weight: 300;
}

.box input[type = "text"],.box input[type = "password"]
{
border: 0;
background: none;
margin: 20px auto;
text-align: center;
border: 1px solid #3498db;
padding: 14px 20px;
width: 200px;
outline: none;
color: white;
border-radius: 23px;
transition: 0.25s;
}


.box input[type = "text"]:focus,.box input[type = "password"]:focus{

    width: 260px;
border-color: #348b0c;}

.box input[type = "submit"]{

 border: 0;
background: none;
margin: 20px auto;
text-align: center;
border: 2px solid #348b0c;
padding: 14px 40px;
width: 200px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;
cursor:pointer
}

.box input[type=submit]:hover{
background: #348b0c;



}










}